body {
  background-color: rgb(205, 224, 184);
  font-size: 25px;
  color:#444444;
}
.main-wrapper {
  width: 80%;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

/* header */

header {
  width: 100%;
  height: 50px;
  background-color: rgb(64, 82, 65);
  color: white;
  justify-content: center;
  vertical-align: middle;
  position: fixed;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container ul {
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 5px;
}

.header-container p {
  margin-left: 5px;
}

/* 見出し */

.pagetop {
  height: 900px;
  width: 100%;
  background-image: url(../images/top2.jpg);
  background-size: cover;
  background-position: center center;
  display: table;
}

.pagetop p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
  font-size: 7rem;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 70px;
  padding: 100px 0 50px;
  color: green;
}

/* profile */

.profile-content {
  display: flex;
}

.profile-content img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 30px 20px;
}

.profile-content h3 {
  font-size: 50px;
  margin-bottom: 50px;
}

.profile-content p {
  font-size: 1em;
  line-height: 200%;
  margin-right: 30px;
}

/* works */

.works-container{
  display:flex;
}

.works-item{
  background-color:aqua;
  width:300px;
  height:300px;
  margin:10px;
}
