body {
  background-color: #e2dec9;
  font-size: 20px;
  color: #444444;
}
.main-wrapper {
  width: 80%;
  min-width: 700px;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  background-color: #efefef;
}

.icon-letter {
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 6rem;
  color: rgb(185, 148, 112);
}

.fa-user,
.fa-list,
.fa-lightbulb,
.fa-newspaper,
.fa-envelope {
  font-weight: 900;
  font-size: 80px;
  margin-right: 15px;
  transform: translateY(20px);
  color: rgb(185, 148, 112);
}

/* header */

header {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.699);
  color: rgb(143, 142, 142);
  justify-content: center;
  position: fixed;
  z-index: 2;
}

header a:hover {
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.header-container ul {
  display: flex;
  list-style-type: none;
  width: 500px;

  justify-content: space-between;
  margin-left: auto;
  margin-right: 30px;

  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.header-container img {
  border-radius: 20%;
  height: 50px;
  width: 50px;
}

.header-container p {
  margin-left: 5px;
}

/* 見出し */

.pagetop {
  height: 100vh;
  width: 100%;
  background-color: rgb(185, 148, 112);
}

.pagetop p {
  padding-top: 10vh;
  text-align: center;
  font-size: 10rem;
  color: #eeeeee;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
}

.pagetop i {
  width: 50px;
  height: 50px;
  margin-top: 10vh;
  font-size: 10rem;
}
.icon {
  display: flex;
  justify-content: center;
  font-size: 70px;
  padding-bottom: 50px;
  color: green;
}

/* profile */

.profile {
  padding: 100px 0 100px;
}

.profile-content {
  display: flex;
}

.profile-content img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 30px 0 30px 30px;
}

.profile-content h3 {
  font-size: 2rem;
  margin-bottom: 50px;
  padding-left: 30px;
}

.profile-content p {
  font-size: 1rem;
  line-height: 200%;
  padding: 0 50px 0 30px;
}

.profile-item h3 {
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
}

/* works */

.works {
  padding: 100px 0 100px;
}
.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works-item {
  width: 250px;
  height: 300px;
  margin: 30px 15px;
}

.works-item img {
  width: 100%;
  height: 50%;
  background-color: rgb(169, 179, 136);
}

.works-item p {
  width: 100%;
  height: 50%;
  padding: 10px;
  background-color: rgb(169, 179, 136);
  white-space: normal;
  word-wrap: break-word;
  line-height: 150%;
  /*temporary  */
  text-align: center;
  line-height: 700%;
}

/* skill */

.skill {
  padding: 100px 0 100px;
}

.skill-content {
  display: flex;
  justify-content: space-around;
  background-color: rgb(185, 148, 112);
  color: white;
}

.skill-programming,
.skill-certificate {
  text-align: center;
}

.skill-programming {
  width: 60%;
}

.skill-programming h3 {
  font-size: 2.5rem;
  margin: 20px 0;
  font-weight: bolder;
  font-family: "Noto Serif JP", sans-serif;
}

.skill-programming p {
  line-height: 150%;
  padding: 0 100px 20px;
}

.skill-programming-main {
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 4rem;
  /* table style */
  border-collapse: collapse;
}

.skill-programming-main th {
  text-align: left;
  padding-left: 20px;
  font-size: 1.3rem;
  /* table style */
  border-bottom: 3px solid white;
}

.skill-programming-description {
  margin-top: 70px;
}

.skill-programming-description table {
  width: 90%;
  margin: 10px auto 50px;
  line-height: 3rem;
}

.skill-programming-description p {
  font-size: 2rem;
  font-weight: bold;
}

.skill-programming-description td:nth-child(2) {
  text-align: left;
}

.skill-programming-description th {
  text-align: left;
  padding-left: 20px;
  font-size: 1.3rem;
  border-bottom: 3px solid white;
}

.skill-programming-main tr:nth-child(2n),
.skill-programming-description tr:nth-child(2n),
.skill-certificate li:nth-child(2n) {
  background-color: rgb(196, 166, 138);
}

.skill-certificate {
  width: 40%;
  margin: 20px 20px;
}

.skill-certificate h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: "Noto Serif JP", sans-serif;
}

.skill-certificate p {
  padding: 0 20px 20px;
  line-height: 150%;
}

.skill-certificate li {
  line-height: 200%;
  text-align: left;
  padding-left: 10px;
}

.list-head {
  text-align: left;
  padding-left: 20px;
  font-size: 1.3rem;
  border-bottom: 3px solid white;
  font-weight: bolder;
}

/* blog */
.blog-link {
  width: 500px;
  height: 250px;
  margin: 50px auto 0;
  border: 3px solid blue;
}

.blog-link p {
  text-align: center;
  line-height: 225px;
}

/* contact */
.contact {
  padding: 100px 0 300px;
}

.contact h1 {
  text-align: center;
  line-height: 200%;
  padding: 50px 10% 100px;
}
.contact-piccontainer {
  display: flex;
  justify-content: space-around;
}

.contact-piccontainer-item {
  text-align: center;
}

.contact-piccontainer-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.contact a:hover {
  text-decoration-line: underline;
}

/* message */
.message {
  height: 50vh;
  min-height: 400px;
  width: 100%;

  text-align: center;
  background-color: rgb(169, 179, 136);
  display: table;
}
.message p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
}

/* footer */
footer {
  padding: 30px 0 30px 50px;
  text-align: left;
  background-color: rgb(95, 111, 82);
  color: #eeeeee;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
}

/* スマホ用スタイル */
@media (max-width: 600px) {
  .pagetop {
    background-color: red;
  }
}
